// Breakpoints
$mobile: 540px;
$tablet-small: 640px;
$tablet: 720px;
$desktop: 900px;
$desktop-large: 1020px;

// Sizes
$margin: 40px;

// Fonts
$prox: 'proxima-nova-alt', sans-serif;
$abril: 'abril-text', serif;
$lourdes: 'lourdes', serif;

// Colors
$pink: #951957;
$darkpink: #700E49;
$purple: #341D49;
$blue: #313461;
$teal: #267795;