.visually-hidden, .screen-reader-text {
	@include visually-hidden;
}
.float-clear {
	@include float-clear;
}

.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}
.align-center {
	text-align: center;
}