.hat {
	fill: #9d9a9a;
}
.hair {
	fill: #333;
}
.face,.right-hand, .left-hand {
	fill: #e9c6af;
}
.glasses {
	fill: #fff;
}
.shirt {
	fill: #78b1e3;
}
.scarf, .left-boot, .right-boot {
	fill: #111;
}
.jacket {
	fill: #555;
}
.pants-top,.pants-left,.pants-right, .right-sleeve, .left-sleeve {
	fill: #333;
}
.belt-left,.belt-right,.right-cuff, .left-cuff {
	fill: #777;
}
.right-top-arm,.right-bottom-arm,.left-top-arm, .left-bottom-arm {
	fill: #555;
}
.book {
	fill: #9b9064;
}

.rotate {
	-webkit-transform: rotate(15deg);
}
.red {
	fill: red;
}